[2016-05-17 17:49] finid opened #2 "Support for Consul"
Would love to see support for Consul planned.

[2016-05-17 18:16] jvinod commented on #2
Yes, support for consul is planned. Our use of a key value store is abstracted away and consul support should be in not too far away.

[2016-05-31 10:52] rimusz opened #5 "Kubernetes install option"
px-lite had Kubernetes install readme, would be nice to have the same section here as well

[2016-06-01 04:35] jvinod commented on #5
ping @erickhan

Thanks for point that out @rimusz

[2016-06-22 16:12] mattbates commented on #5
This [doc](https://github.com/portworx/px-dev/blob/master/install_with_k8s.md) appears to be pretty up-to-date. You might want to link to it in the main docs.

[2016-06-29 18:47] rimusz opened #6 "kubernetes native PV support"
kubernetes native PV support would be a very big advantage

[2016-06-29 23:42] gourao commented on #2
Latest version should now support consul.  Here is an example config.json: https://github.com/portworx/px-dev/tree/master/quick-start/consul

[2016-06-29 23:42] #2 closed

[2016-06-30 22:21] cneth opened #7 "How to Rebuild pwx.ko on airgapped server?"
I'm trying to run the container on CoreOS 1010.5.0 on an airgapped server (our clusters have an internal registry - nodes do not have access to the 'internet'.

It looks like the container rebuilds the pwx.ko as part of the startup.  This is failing for me because I am running the container on an airgapped server that does not have a path back to the various mirrors.

What's the solution?

Some sn

[2016-07-01 04:39] jvinod commented on #7
@cneth please try with
[code]
Newer coreos releases ship with kernel headers and the container will not try to get the headers from an external yum repo if it finds it there.

Let us also know the output of:
[code]

[2016-07-01 04:45] gourao commented on #6
@rimusz @erickhan @jvinod
This is being worked on and will be available post 1.0.  Lot of asks for this!

[2016-07-01 08:29] rimusz commented on #6
awesome 👍

[2016-07-01 15:47] jsilberm commented on #7
@cneth Glad it worked.   Nice meeting you in Seattle.

-Jeff

[2016-07-01 15:47] #7 closed

[2016-07-01 18:18] jvinod commented on #5
@mattbates @rimusz the doc is updated. Thanks @adityadani

[2016-07-01 18:18] #5 closed

[2016-07-01 18:37] rimusz opened #8 "etcd needs for px-dev on kubernetes"
Does px-dev on kubernetes need etcd?
It is not mentioned in https://github.com/portworx/px-dev/blob/master/install_with_k8s.md

[2016-07-07 15:44] jsilberm commented on #8
@rimusz : px-dev requires some distributed key-value db, as described in the config.json file :  https://github.com/portworx/px-dev/tree/master/conf .   etcd or consul are both supported :   https://github.com/portworx/kvdb

[2016-07-07 15:44] #8 closed

[2016-07-07 15:45] jsilberm commented on #6
@rimusz :  Feature request noted.  Thanks.

[2016-07-07 15:45] #6 closed

[2016-07-18 21:27] cneth opened #9 "Bound to wrong ip address"
I am trying to run px-dev on a CoreOS system that has DC/OS V1.7.2 installed.  DC/OS V1.7.2 introduces a DNS forwarder called 'Spartan'; the way it works is to create a new virtual network interface called 'Spartan' which has it's own IP address;  all the entries in /etc/resolv.conf are then pointed at that IP address range.  (See below for what ifconfig and /etc/resolv.conf look like in this envi

[2016-07-18 21:46] adityadani commented on #9
Yes, you can specify which network interface to use. In you PX configuration file at /etc/pwx/config.json add the following two fields.
"mgtiface": <interface-name>
"dataiface": <interface-name>.

Your config file will look something like this if the interface is "eth0" :
{
      "clusterid": "make this unique in your k/v store",
      "mgtiface": "eth0",
      "dataiface":"eth0",
      "kvdb": [

[2016-08-24 22:28] AleksandrNull opened #11 "Deployment steps for k8s (and probably others)"
Hi guys,

It's unclear how to specify to px-dev which block devices it should use to store data/volumes on.

[2016-08-27 06:58] #11 closed

[2016-08-27 07:04] jvinod commented on #11
@AleksandrNull was this resolved? In general, you specify the disks to use in /etc/pwx/config.json
https://github.com/portworx/px-dev/blob/master/conf/config.json

[2016-08-27 07:06] AleksandrNull commented on #11
Hi, Vinod.
Yes, I found disk related things on ubuntu/docker related docs, not in k8s ones, so it's clear for now. But right now I'm stuck with px.ko module error during start of px-dev container on k8s cluster.

[2016-08-27 07:09] jvinod commented on #11
@AleksandrNull can you give us:
- the output of uname -a
- ls -l /usr/src
- the the docker run .. command that you started px with.

Thanks

[2016-08-27 07:10] AleksandrNull commented on #11
Yep. Should I put it here ?

[2016-08-27 07:11] jvinod commented on #11
sure

[2016-08-27 07:11] AleksandrNull commented on #11
root@ubuntu:~# uname -a
Linux ubuntu 3.13.0-93-generic #140-Ubuntu SMP Mon Jul 18 21:21:05 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
root@ubuntu:~# ls -l /usr/src
total 8
drwxr-xr-x 24 root root 4096 Jan 27  2016 linux-headers-3.13.0-76
drwxr-xr-x  7 root root 4096 Jan 27  2016 linux-headers-3.13.0-76-generic
root@ubuntu:~# docker run --restart=always --name px-dev -d --net=host --privileged=true -v

[2016-08-27 07:12] jvinod commented on #9
Assuming this is resolved?

[2016-08-27 07:12] #9 closed

[2016-08-27 07:13] AleksandrNull commented on #11
Hmm, should I have headers and sources from current kernel ? :) If that's a problem then I know what to do :)

[2016-08-27 07:16] AleksandrNull commented on #11
Ok, got it. It thinks that I run it on rhel/centos:
Sat Aug 27 07:15:44 UTC 2016 : Running on Linux ubuntu 3.13.0-93-generic #140-Ubuntu SMP Mon Jul 18 21:21:05 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Failed to enable rt scheduler
checking /usr/src/kernels/3.13.0-93-generic
checking /usr/src/linux-headers-3.13.0-93-generic
checking /lib/modules/3.13.0-93-generic/build
Loaded plugins: fastestmirror

[2016-08-27 07:17] AleksandrNull commented on #11
^^^^ that's from px-dev container logs ;)

[2016-08-27 07:20] jvinod commented on #11
Can you run :

[code]
Normally you don't need to do that. We would take care of it automatically. But it looks like your machine diverged from its original kernel?

[2016-08-27 07:25] AleksandrNull commented on #11
@jvinod
Already done that and it's not helped. Found out that px-dev scripts/binaries detect my system as rhel/centos not ubuntu.

[2016-08-27 07:33] jvinod commented on #11
Was it able to install the headers? If so /usr/src should have headers that map to uname -r . With the output you posted, it does not: you're running  3.13.0-93-generic  but you have headers for  3.13.0-76-generic
px-dev does not detect the system as centos.
We're working on making these corner cases painless..

[2016-08-27 07:37] AleksandrNull commented on #11
root@ubuntu:~# ls -l /usr/src
total 16
drwxr-xr-x 24 root root 4096 Jan 27  2016 linux-headers-3.13.0-76
drwxr-xr-x  7 root root 4096 Jan 27  2016 linux-headers-3.13.0-76-generic
drwxr-xr-x 24 root root 4096 Aug 27 07:13 linux-headers-3.13.0-93
drwxr-xr-x  7 root root 4096 Aug 27 07:14 linux-headers-3.13.0-93-generic
root@ubuntu:~# uname -a
Linux ubuntu 3.13.0-93-generic #140-Ubuntu SMP Mon Jul 18

[2016-08-27 07:46] jvinod commented on #11
oh great:) I should have looked more closely at your docker run command:
Could you add to it -v /usr/src:/usr/src . I fixed the incorrect documentation.
You would need to docker stop px-dev, docker rm px-dev and then run again.

Regarding rhel/centos: We run in a centos based container (therefore yum) - and yes that is problematic to pull ubuntu distro headers. We're working on fixing that.

[code

[2016-08-27 07:48] AleksandrNull commented on #11
Yup!
That's the thing! Now it works!
root@ubuntu:~# /opt/pwx/bin/pxctl status
Status: PX is operational
Node ID: 838f3bbb-19e2-47c1-b0bc-46bfc65bfed9
	IP: 172.16.96.163
 	Local Storage Pool: 1 device
	Device	Path		Media Type		Size		Last-Scan
	1	/dev/vdb	STORAGE_MEDIUM_MAGNETIC	195 GiB		27 Aug 16 07:47 UTC
	total			-			195 GiB
Cluster Summary
	Cluster ID: 5ac2ed6f-7e4e-4e1d-8e8c-3a6df1fb61a5
	Node

[2016-08-27 07:56] jvinod commented on #11
Great :)  Look forward to your feedback.
You'd need the enterprise edition to lift the cluster size + volume restrictions.

[2016-08-27 07:59] AleksandrNull commented on #11
@jvinod
Ok, got it. Will test 3x3 mode then. Thanks and have a good night. I really appreciate your help!

[2016-09-02 04:16] temujin9 opened #12 "License?"
Is this open source?

[2016-09-02 13:40] jsilberm commented on #12
Portworx offers a freely-available developer version on this Github site.   But the code is not open source.   (P.S.  I'll be presenting at the upcoming Docker Meetup in Austin next Tues 9/6.  Please stop by).

[2016-09-02 16:02] temujin9 commented on #12
Thanks, but I'm not really into closed source solutions, and definitely not in this particular product space. Cheers!

[2016-09-02 16:02] #12 closed

[2016-10-20 13:45] akamalov opened #13 "ERROR: for portworx Cannot start service portworx: linux mounts: Path /opt/pwx/bin is mounted on / but it is not a shared mount"
Greetings,

Trying to get px-get working. Followed the quick-start guide, however encountered problems.

**Environment:**

[code]

**Docker info:**

[code]

**File: config.json**

[code]
**Error:**

[code]

Any ideas why is it bombing out ?

Alex

[2016-10-20 13:48] akamalov commented on #13
Answering my own question, as per Gao's post:

https://groups.google.com/forum/#!topic/portworx/A2vtTjjzSLI

[2016-10-20 14:00] akamalov commented on #13
Verified,  flag ```MountFlags=slave``` is not present in /usr/lib/systemd/system/docker.service. Still having the same issue.

**File: /usr/lib/systemd/system/docker.service**
[code]

[2016-10-20 16:22] jsilberm commented on #13
A couple requests:
1)  Send output from "service docker status", to verify which docker.service file is being used.
2)  Send the output from your docker-compose.yml file

If you want to bring up without docker-compose, you could just run this:
docker run --restart=always --name px -d --net=host \
                 --privileged=true                             \
                 -v /run/docker/plugi

[2016-10-20 16:34] akamalov commented on #13
@jsilberm  Thanks for the prompt reply. Here are the outputs:

[code]
**File: /usr/lib/systemd/system/docker.service.d:**

[code]
Deploy portworx without docker-compose:
[code]

Thanks again.

[2016-10-20 16:57] jsilberm commented on #13
@akamalov :  Can you please share this file too?   /etc/systemd/system/docker.service

Thanks.

[2016-10-20 17:07] gourao commented on #13
@akamalov Hi Alex,
When you run the following, what happens?
`docker run -v /mnt:/mnt:shared --rm -it busybox /bin/sh`

We need `shared` to be able to deploy volumes into the other containers...

[2016-10-20 17:19] jvinod commented on #13
@akamalov  based on your systemd output, the file being loaded is /etc/systemd/system/docker.service

You'd need to remove `MountFlags=slave`` from there as well, follow it up with `systemct daemon-reload`. The `docker run` suggested by @gourao will help you verify if it took effect..

Generally curious how this machine was setup because with docker 1.12.1+, the systemd files don't have the MountF

[2016-10-20 17:58] jsilberm commented on #13
Alex --- We also sent you a link to use the px-enterprise product, which removes many of the limitations around px-dev.   Please feel free to use that and offer us your feedback.    All the documentation is available at docs.portworx.com.     Thanks.

[2016-10-20 19:46] akamalov commented on #13
Thanks @jsilberm!

@jvinod if you scroll up,the file I posted ``` /usr/lib/systemd/system/docker.service``` has no ```MountFlags=slave``` flag:

[code]

[2016-10-20 20:20] akamalov commented on #13
@jsilberm Tried..getting the same error:

[code]

@gourao the same error:
[code]

[2016-10-20 21:10] gourao commented on #13
@akamalov Alex, this means that Docker is not setup (somehow) to allow shared mounts.  docker-machine has an outstanding bug in their deployment... so can you look at
**`/etc/systemd/system/docker.service`**

That must also have that flag disabled.

After unsetting that, please do a `systemct daemon-reload`

And restart docker...

[2016-10-21 13:36] akamalov commented on #13
Hey @gourao , that's the whole point that the value is not there:

[code]
This flag was on as of Docker 1.11.2, but current version running is 1.12.1 and the flag is absent. I tried different flags, including ```MountFlags=shared``` , but it didn't yield any results...

Thanks,
Alex

[2016-10-21 20:00] gourao commented on #13
@akamalov if we can do a quick screen share session, that would be great... want to see where that flag could be potentially being enforced from.

[2016-10-25 15:04] akamalov commented on #13
Overcame the problem. Here is what I did, as per https://github.com/docker/docker/issues/19625

Compare the namespaces used for the system:

[code]
Override the MountFlags value in the default unit with a systemd drop-in directory

[code]

Verify drop-in took place:

[code]

Reload systemd files:
[code]
Restart docker:
[code]

Check the status of your mounts in the namespace of the Engine itself (

[2016-10-25 17:14] jvinod commented on #13
@akamalov glad the MountFlags propagation got resolved - the  defaults would soon be 'shared' and you wouldn't have to go through this.

I have actually seen one other instance of "Cannot allocate memory, it is a rare problem - the message is misleading, we have root caused it and will fix. A temporary workaround is to reboot the machine.

Thanks

[2016-10-25 18:21] jsilberm commented on #13
Hi Alex :  * /etc/systemd/system/docker.**service *  is the file that is
likely the culprit.

Can you please show us the contents?

Thanks,
  -Jeff

On Thu, Oct 20, 2016 at 12:46 PM, Alex Kamalov <notifications@github.com>
wrote:

[2016-10-25 19:02] jsilberm commented on #13
Hi Alex,

We really need to see  * /etc/systemd/system/docker.**service *

That is very likely the source of the problem.

Once you remote the MOUNT=shared from that file, and do a "system docker
restart", then you should be good to go.

Hope this helps,
  -Jeff

On Thu, Oct 20, 2016 at 1:20 PM, Alex Kamalov <notifications@github.com>
wrote:

[2016-10-26 17:43] gourao commented on #13
@akamalov Hi Alex, if the reboot worked, can you let us know and/or close this issue?

[2016-10-26 18:30] akamalov commented on #13
Yep, reboot worked. closing the ticket. Thanks Gou!!

[2016-10-26 18:30] #13 closed

[2016-12-07 15:58] galindro opened #16 "Error launch px-dev in Rancher 1.2 + RancherOS 0.7.0"
After launch the portworx service from Rancher Catalog, the services doesn't start.

Here are the logs from one container. I've enabled [kernel-headers in rancheros](https://docs.rancher.com/os/configuration/kernel-modules-kernel-headers/) before start the stack.

[code]

[2017-01-31 11:35] maikotz opened #17 "[CoreOS] Failed to init driver: px/flexvolume"
Hi,

I wanted to take a look into px-dev and could set it up on my dev-master node but the other node is failing.

[code]

I'm using the same config as on my master node with a loopback device for testing purposes.

PX Container is running and has no error's in the logs.

[code]

Kubelet is v1.5.1_coreos.0

**Edit:**
I think the key here is the connection refused on :9005

If I try to run the flex

[2017-02-02 19:36] maikotz commented on #17
This issue was resolved by downgrading from ``latest`` tag to 1.0.9

[2017-02-02 19:36] #17 closed

[2017-02-02 20:43] adityadani commented on #17
This issue has also been resolved in the latest px-dev build.
You can download it from portworx/px-dev:latest

[2017-02-06 11:58] Berndinox opened #18 "PX-Dev & Consul: Test connection from KVDB failed"
**System:**

3 Node Swarm Cluster
Ubuntu 16 .04
Docker 1.13

## Steps performed:

docker network create --driver overlay consul --attachable

**consul.yaml**
[code]

`docker stack deploy --compose-file consul.yaml consul`

**config.json:**
[code]

**PX-Dev start:**
[code]

**Verify connectivity:**
[code]

When executing pxctl:
[code]

**UPDATE:**

After Publishing a Consul Port (_config.json http:

[2017-02-06 12:34] Berndinox commented on #18
After changing the ClusterID in the config this issue was closed.

[2017-02-06 12:34] #18 closed

[2017-02-07 08:08] Berndinox opened #19 "Shared Volume did not work"
Regarding that information: http://docs.portworx.com/shared-volumes.html
Shared Volume is available within any Container on any Host.

However, thats not possible with the following setup:
https://github.com/Berndinox/swarm_portworx

OS: Ubuntu 16.04
Docker: 1.13 in Swarm Mode

**Outputs:**
Status:
[code]
 volume inspect:
[code]
Swarm has 3 Members, i do start the 2 same container with the followi

[2017-02-08 10:40] Berndinox commented on #19
UPDATE: Shared disc just do work on the same host, not on other hosts in the swarm cluster

[2017-03-27 15:52] asthomasdk commented on #16
Although different versions of Rancher (1.5.3) and RancherOS (0.9.0) - I'd also like to know if there is support for RancherOS with px-dev - and what the steps are to set this up.

Also getting similar errors:

`
3/27/2017 5:51:42 PMchecking /usr/src/kernels/4.9.15-rancher
3/27/2017 5:51:42 PMchecking /usr/src/linux-headers-4.9.15-rancher
3/27/2017 5:51:42 PMchecking /lib/modules/4.9.15-rancher/bu

[2017-03-28 12:25] asthomasdk opened #20 "Resize existing portworx volume with px-dev pxctl"
Does anyone know how to resize an existing volume with pxctl for an existing volume?

I have a volume with the default 1G size, which is too small and need to increase it to 10G.

I have found a link to Portworx documentation that refers to a "volume resize" option. But this does not work - or is not available in the version of pxctl that I have.

I get this error:
`No help topic for 'resize'`

Ve

[2017-03-28 12:31] asthomasdk opened #21 "Problems rebooting host running px-dev"
As part of testing a px-dev POC, I have tried to reboot one of the hosts (RancherOS 0.9.0) that is part of my newly created px cluster.

Once the host has come up and all the containers have started, the node is not able to re-join the cluster. Something is preventing the startup of the px service.

After the startup attempts, I get a lot of the following in the log:

[code]

Restarting the contai

[2017-03-28 15:16] venkatpx commented on #20
@asthomasdk Resize volumes are supported in the upcoming PX release 1.2 due out by mid-april.

[2017-03-28 15:17] asthomasdk commented on #20
Thanks - does that mean that the feature is currently only available in the enterprise version?

[2017-03-28 15:23] venkatpx commented on #20
@asthomasdk when 1.2 is released volume resize will also be available in the dev version. Pls note we recommend production users to deploy PX-Enterprise and only use PX-Dev for POC purposes.

[2017-03-28 17:03] asthomasdk opened #22 "Entering multiple etcd hosts in Rancher config"
We are using Rancher with Docker, and using a slightly customized version of the community catalog px-dev entry.

For the etcd / consul server, it looks like you can only enter one etcd host, while the config.json file that is created during the Rancher spinup uses a json array for this and therefore supports multiple instances.

I have tried entering a comma separated list - but this ends up with

[2017-03-28 17:23] jvinod commented on #21
@asthomasdk how many nodes do you have in this cluster?

[2017-03-28 17:25] jvinod commented on #22
ping @jsilberm can you see how to specify multiple etcd hosts in rancher catalog?

[2017-03-28 17:36] asthomasdk commented on #21
I have 3 nodes.

[2017-03-28 18:06] jsilberm commented on #22
Hi Thomas --- Please take a look here for how to structure an array of etcd servers:   https://github.com/portworx/px-dev/blob/master/conf/config.json

Thanks, -Jeff

[2017-03-28 18:09] asthomasdk commented on #22
Hi Jeff,

I can see how to do that in the config.json file - but if I enter a comma separated list of etcd servers in the Rancher catalog entry for kvdb, only the first one gets properly picked up.

I would expect a comma separated list to be parsed and then written to the config.json file as a correct array ;-)

TIA

Thomas

[2017-03-28 18:35] jsilberm commented on #22
Hi Thomas,

Since this is just px-dev, it is not supported for production (i.e. 3 etcd servers).
Also, with our 1.2 release scheduled for next month, we will be removing the need for an external 'etcd' server altogether.

So for the time being, the current px-dev should work fine with Rancher for a single 'etcd' server, as documented.

Thanks,
  -Jeff

[2017-03-28 18:46] jvinod commented on #21
@asthomasdk is this true for all nodes? And if so, is the etcd cluster data persistent?

[2017-03-28 18:50] asthomasdk commented on #22
ok - thanks for the info.

[2017-03-28 18:50] asthomasdk commented on #21
I'll need to test that - I only tried rebooting node so far.

[2017-03-28 18:57] jvinod commented on #21
OK but the etcd server here: http://10.42.226.249:2379 has it's data on a persistent volume, correct? Was the etcd server itself restarted and respun on a different node?

[2017-03-28 18:59] asthomasdk commented on #21
This is actually an etcd-ha cluster started from rancher before I started portworx. I am not 100% sure if this is mapping data to the host or storing it in a volume inside the container. But in either case it is being persisted.

[2017-03-28 20:41] #22 closed

[2017-04-08 09:17] pstadler opened #23 "Kubernetes ReadWriteMany mode problems"
Hi there

I'm running into issues when I delete a pod that uses a `ReadWriteMany` volume claim with px-dev. Nowadays, pods are mostly scheduled using `Deployment`, which means that a new pod is scheduled as soon as the the previous one gets deleted. The pod using the RWM volume can't get killed and is stuck in the `Terminating` state forever, while the new pod successfully binds to the same volume

[2017-04-14 20:10] jvinod commented on #23
ping @adityadani

Thanks for reporting this..

[2017-04-14 20:16] jvinod commented on #20
1.2 is released - the volume resize funciton is available:
https://docs.portworx.com/volume-update.html#increase-volume-size

[2017-04-14 20:16] #20 closed

[2017-04-14 20:17] jvinod commented on #19
ping @harsh-px

[2017-04-17 00:03] aoakalin opened #24 "404 Not Found during download of kernel headers for 4.4.59-boot2docker"
Probably similar to #16, I'm having problems running px-dev on my docker-machine.

During launch of the container, it looks for [http://mirrors.portworx.com/build-results/pxfuse/for-installer/x86_64/4.4.59-boot2docker/packages](http://mirrors.portworx.com/build-results/pxfuse/for-installer/x86_64/4.4.59-boot2docker/packages); but it fails, when I checked the URL at my browser, I get 404 not found.

[2017-04-17 00:10] jsilberm commented on #24
Any chance you could spin up a Linux VM and run px-dev from within there?
We require Linux (any), and will not currently work on Windows.
What are the Windows apps that you want to be running with px-dev?

[2017-04-17 06:42] aoakalin commented on #24
I plan on using px-dev on Linux machines in the end but I'm trying to learn how to use it on a virtual cluster on my windows 7 computer for now. I'm using docker-machine with Oracle VM Virtualbox to spin up a Linux VM from boot2docker.iso. Is this not supported?

Here are the commands I have used in exact order:
[code]

[2017-04-17 14:37] jsilberm commented on #24
Not currently supported.   The docker engine must be running on a Linux host for now.  Sorry.   Hopefully you can find a native Linux host to start playing with px-dev

[2017-04-17 14:37] #24 closed

[2017-04-17 22:45] harsh-px commented on #19
@Berndinox You observation about volume getting attached on node1 is correct and expected. This is because in step 1, you create a volume with replication factor of 1. So the volume's data actually resides only on node1. So whenever an attempt is made to attach the shared volume on other hosts, say node2, pxctl will still say volume is attached on node1 since that is where the volume actually resi

[2017-04-22 20:16] pstadler opened #25 "px-dev 1.2 broken on Ubuntu 16.04"
When running px-dev 1.2 on Ubuntu 16.04, I'm getting the following error:

[code]

1.1.6 runs fine

[2017-04-23 08:52] pstadler commented on #25
I could make it work after downgrading to the 4.9.20 Kernel.

[2017-04-23 08:52] #25 closed

[2017-04-26 20:42] maikotz opened #26 "recover node after reboot"
Hi there,

after rebooting my px-dev host can't start the storage and is stuck in "initializing". Is there any way to force quorum and enable / start this host?

I'm running px version: pxctl version 1.1.6-cb1bbeb

In the px-dev container I get some warning about locks and after w while the container restarts

`time="2017-04-26T20:46:11Z" level=warning msg="Lock pwx/5ac2ed6f-7e4e-4e1d-8e8c-3a6df1f

[2017-05-05 10:48] maikotz commented on #26
Just a quick feedback on this one.

Inspecting the pwx container didn't really help, I could not find out where the .lock files where located to manually delete them and try to initialise the node manually.
Even deleting the BTRFS subvolume didn't help, so I looked into just recovering the data from the test containers.

This was surprisingly easy, as everything is just based on BTRFS, so I mounte

[2017-05-05 21:00] ed11s8c opened #27 "Stalled at "PX is initializing""
When trying to start Portworx on a Digital Ocean droplet with an attached volume, Portworx never completes the initialisation.

Having looked at `pxctl status` the resulting output has a status of `Status: PX is initializing...`.
The full output is:
[code]

To debug further I inspected the logs of the `px-dev` container:
[code]

As you can see the last statement is `Benchmarking drive  /dev/sda` w

[2017-05-10 13:21] Berndinox commented on #19
@harsh-px  thanks for this perfect answer

[2017-05-22 10:15] svensp opened #29 ""socket not connected" inside docker container after recover"
Setup:
- Rancher
- 5 Node etcd Cluster from catalog. Heartbeat 5ms, Timeout 75ms
- etcd-proxy on each host "load balancing" for the etcd cluster
- Portworx on 3 Nodes from catalog

Problem:
Despite my best efforts the etcd cluster from the rancher catalog still becomes unavailable for a few milliseconds from time to time.
This causes portworx to restart and recover, which works fine and reports al

[2017-05-23 09:22] steigr opened #30 "Strip binaries"
Please strip the PX binaries in `portworx/px-dev`. The image size may reduce by ~80MiB.

[code]

[2017-05-23 09:26] steigr opened #31 "Document where and how to provide kubernetes credentials"
I'm using kubernetes bootstrapped via tectonic-installer with RBAC enabled. I submitted a `kubernetes.yaml`/`admin.conf` likewise:

[code]

I also volume-mounted a working `kubeconfig` to `/root/.kube/config`. The following error persists:

[code]

[2017-05-23 22:33] venkatpx commented on #27
Can you make sure that `/dev/sda` is indeed writable?  Perhaps send us the output of
`dd if=/dev/zero of=/dev/sda bs=8k count=256 oflag=dsync`

[2017-05-24 00:11] jvinod commented on #27
actually can you make sure it is readable  - the benchmark does reads not writes - a lot safer:
dd if=/dev/sda of=/dev/zero bs=8k count=256

[2017-05-24 00:14] #19 closed

[2017-05-24 00:15] venkatpx commented on #31
@harsh-px : Can you help here?

[2017-05-24 00:19] jvinod commented on #29
The storage should be accessible when Portworx restarts. Just so that I understand the problem, in your environment, if you restart Portworx container, the user containers lose connectivity? IOs should continue seamlessly even if Portworx container restarts.
Let us know the steps and we'll troubleshoot..

[2017-05-24 00:34] harsh-px commented on #31
@steigr We are releasing 1.2.4 release this week which totally removes requirement of this step. Are you able to wait for a week?

If not, we can work to resolve this.

Regarding `kubernetes.yaml`, you need to copy the kubeconfig that kubectl is using to `/etc/pwx/kubernetes.yaml`. The current-context being used in the kubeconfig needs to have permissions to list, get and update nodes.

[2017-05-24 05:51] svensp commented on #29
Yes, the storage is no longer accessable inside the container. Example output inside an affected container:
[code]

I have tried a variaty of setups which cause this problem. The easiest setup to reproduce this should be:
- Install etcd from rancher catalog, scale 3
- expose Port 2379 to host
- install portworx with etcd://127.0.0.1:2379 as etcd address
- Create a service with named volume and vol

[2017-05-26 20:55] steigr commented on #31
Mapping kubeconfig to /etc/pwx/kubernetes.yaml works! Thanks a lot.

[2017-05-26 20:55] #31 closed

[2017-05-29 18:03] venkatpx commented on #30
Thanks for opening this. Future releases have been stripped off unneeded symbols. We will continue to look for footprint reduction as part of the development process.

[2017-05-29 18:03] #30 closed

[2017-05-29 18:07] venkatpx commented on #27
@ed11s8c Did you get a chance to try what @jvinod suggested?

[2017-05-29 18:53] venkatpx commented on #26
@maikotz sorry for the delay in getting to this. Do you have still have the logs for the px container in this case?

[2017-05-30 01:25] adityadani commented on #23
@pstadler We have fixed this issue in our latest release. You can get it by using the following tag
portworx/px-dev:latest.

[2017-05-30 17:44] #23 closed

[2017-06-06 18:06] gourao commented on #21
Can you give us the output of `http://10.42.226.249:2379/v2/keys/pwx` ?  Essentially this PX node is complaining that it cannot find the cluster meta data in etcd.

[2017-06-06 18:07] gourao commented on #16
PX either needs to have the kernel headers for your kernel available on the system, or for the node to have internet access so it can download them.  Can you confirm if either of these are possible and then restart PX?

[2017-06-20 01:33] prat0318 opened #34 "kubernetes pvc fails with hostname empty"
I am following [this guide](https://github.com/hobby-kube/guide#deploying-portworx) to deploy portworx. I was able to run the portworx pod just fine, and the status looks like:

[code]

[code]

[code]

Now, when i tried to create a `pvc`, it fails with:
[code]

Why is it connecting to `http://:9001` and not including the hostname in there.

Though, when i tried on hostname, i am able to connect ju

[2017-06-20 01:59] harsh-px commented on #34
Hello @prat0318

While the logs say `http://:9001`, the underlying library is invoking calls to `http://localhost:9001`. The empty hostname can be misleading.

Now coming to the actual error message, portworx needs to be running on the kubernetes master node. The kubernetes control plane on the master node invokes the Portworx api server on http://localhost:9001 on the master node. (This will chan

[2017-06-20 03:40] prat0318 commented on #34
Sure, I will give the cluster details first thing in the morning. Though
curious, what if there are multiple master replicas, do i need to run
portworx on all of master nodes?

Also, portworx tries the etcd connection on http which was failing when i
gave the etcd nodes i used for the k8s cluster (they only accept https),
the workaround was to 'docker run' another etcd node. I can create a new
iss

[2017-06-20 04:27] adityadani commented on #34
Portworx can talk to etcd over https as well. You will need to provide the url in the following format while starting portworx container.
[code]
You can find more info [here](https://docs.portworx.com/install/docker.html#authenticated-etcd-and-consul)

Note that if you have an already running PX cluster, I would recommend starting afresh with a new clusterID when switching to the secure etcd.

Reg

[2017-06-21 05:06] prat0318 commented on #34
The two things worked for me:
1) Running portworx on the master nodes
2) Using https with ca cert files for k8s etcd

Also, i realized that if i want to change the cluster id/change some config of a portworx running on a node, i should `rm -rf /opt/pdx` on that node, else the pod will again pick up old config, ignoring the one set in the daemonset.

One thing still confuses me. The pvc for one of

[2017-06-22 21:18] harsh-px commented on #34
@prat0318 glad you were able to make progress!

Once a cluster is initialized, you cannot change it's name. Since name is used as a key for cluster membership. I assume you were referring to removing `/etc/pwx`. You must not remove this directory since this has a file `/etc/pwx/.private.json` which is important for cluster membership of the node. To change settings on a node, you have to do so in

[2017-07-09 13:49] pstadler commented on #23
I finally upgraded to the latest px-dev version. Seems to work well 👍

[2017-07-11 00:59] abienkowski opened #35 "portworx on rancher (PX is not running on this host)"
portworx service comes up without any problems however pxctl status is reporting that service is not running.

Not sure how to debug this.

:~$ /opt/pwx/bin/pxctl  status
PX is not running on this host

![portworx-service-rancher](https://user-images.githubusercontent.com/2668992/28046580-9cd66d00-65b2-11e7-8db1-89cca0d30687.PNG)

[2017-07-11 01:31] abienkowski commented on #35
Nevermind, logs showed that the connector for ectd was wrong.

[2017-07-11 01:31] #35 closed

[2017-07-11 01:38] abienkowski opened #36 "PX starts in maintenance mode"
$ /opt/pwx/bin/pxctl status
Status: PX is in maintenance Mode. Use the service mode option to repair the system
License: PX-Developer
Node ID: 29a24ea7-a84d-4142-a412-b7fb83fbc695
        IP: 192.168.10.68
        Local Storage Pool: 1 pool
        POOL    IO_PRIORITY     RAID_LEVEL      USABLE  USED    STATUS  ZONE    REGION
        0       HIGH            raid0           200 GiB 0 B     Offline

[2017-07-11 12:51] galindro opened #37 "Increase device size"
How could I increase an AWS EC2 EBS drive in portworx that has increased in AWS?

I've build a cluster with 3 docker swarm nodes and installed portworx as a docker plugin. I've attached, for testing purposes, 2x 1GB EBS backed disks in each node. This is the cluster status:

[code]

I've extended the size of 4 EBS disks to 2GB. Two of the 4 resized EBS disks are attached to node 10.0.1.101 and the

[2017-07-11 13:36] galindro opened #38 "Replace drive start failed. drive size 32212254720 too big, pool size 1073741824"
I'm trying to replace a 1GB drive by a 30GB drive but the following error message is displayed. Why? What I need to do to before to accomplish this?

[code]

### Cluster info

[code]

[code]

[code]

[2017-07-11 13:39] galindro opened #39 ""pxctl service pool" not exists"
The sub command `pool` of command `service` not exists:

[code]

### Cluster info

[code]

[code]

[code]

[2017-07-11 15:07] galindro commented on #27
@venkatpx @jvinod I've figured out the same situation reported by @ed11s8c here, but, in my case, this occurred after I tried to re-join a removed node.

### Cluster info

My cluster was constructed by 3 nodes with 2x1GB EBS disks on each EC2 instance:

[code]

[code]

I've remove node 10.0.1.101	621ff80d-c47f-42e0-9ab2-fc67dba0b688 to increase EBS disk size:

[code]

After the above procedure, I'

[2017-07-11 15:23] venkatpx commented on #27
@galindro thanks for the detailed steps. Can you attach docker logs px from the node that is in the initializing state?

[2017-07-11 15:31] venkatpx commented on #39
@galindro That doesn't look like a supported command. Are you referring to pxctl service drive show? That also shows the Pool the drive is a part of.

[2017-07-11 17:56] galindro commented on #39
@venkatpx I'm talking about to all commands refered in this section of official docs: https://docs.portworx.com/maintain/maintenance-mode.html#storage-pool-commands

They don't exist.

[code]

[2017-07-11 18:03] galindro commented on #27
@venkatpx portworx is running as docker plugin. So, `docker logs px` I'll not work. What I could do is a grep in syslog:

[code]

Here are the result of the above command: https://paste.ee/p/pyS3O

[2017-07-11 18:28] venkatpx commented on #39
@galindro The pool commands are part of the upcoming release. The doc is a little bit ahead.

[2017-07-11 18:28] #39 closed

[2017-07-11 19:24] venkatpx commented on #38
@galindro This indicates the drive you are trying to add is larger than the drive in the pool. Once a pool is created with similar drives, any further drive additions have to be done with similarly sized drives.

[2017-07-11 21:05] galindro commented on #38
@venkatpx if I try to add a new node with drives that are larger than the drives from other nodes, will be possible to join the node to the cluster? Is it possible to add drives with different sizes on a new node (like 10GB and 30GB)?

[2017-07-11 21:21] galindro commented on #27
Got the problem @venkatpx . I've made new tests right now and I've got the bellow error message, that would never be shown with the above grep:

[code]

After removing /etc/pwx/.private.json, disable the plugin and enable it, thew node could join successfully to the cluster. I think that you could close this ticket... Maybe this was the same problem noticed by @ed11s8c.

[2017-07-11 21:27] venkatpx commented on #27
Thanks. That explains it. I was going to ask to wipe the private.json as well. We will update the docs as well.

[2017-07-11 21:30] galindro commented on #27
@venkatpx about the total capacity: right after the above post, I've executed again the pxctl status and now the cluster size is fine. Maybe it was doing some sync in background...

[code]

[2017-07-11 21:38] venkatpx commented on #27
Yes it does take a few seconds to reflect in pxctl status

[2017-07-11 21:38] #27 closed

[2017-07-11 21:39] venkatpx commented on #38
@galindro Yes. You can add larger drives to a new node and add that to the cluster.

[2017-07-12 03:44] venkatpx commented on #37
@galindro As discussed in the other threads, the best way to increase the size of a pool is to add new drives of similar size or more nodes with additional storage

[2017-07-12 03:45] #37 closed

[2017-07-12 03:45] #38 closed

[2017-07-12 03:46] #34 closed

[2017-07-12 03:47] #26 closed

[2017-07-12 21:57] galindro opened #40 "Recomended AWS instance type"
What is the recomended AWS instance type to use with portworx?

[2017-07-13 00:08] galindro opened #41 "max-count parameter"
The docs aren't clear about `max-count` parameter: https://docs.portworx.com/cloud/aws/asg.html#scaling-the-cluster-up. Where I need to set it? I mean, what is its correct syntax? Is it a command line parameter or a configuration that needs to be set through environment variable? Is it works with px-dev?

[2017-07-13 16:15] galindro commented on #41
@venkatpx

[2017-07-15 06:32] venkatpx commented on #41
It should work with px-dev.
Max count is related to the max count of EBS volumes and should be set in user-data in cloud-init.

Example:
#cloud-config

portworx:
  config:
    storage:
      devices:
      - vol-0743df7bf5657dad8
      - vol-0055e5913b79fb49d
      max-count: 10

[2017-07-15 06:32] #41 closed

[2017-07-16 15:29] galindro commented on #41
@venkatpx, is this userdata work with PX Docker plugin too?

[2017-07-17 20:48] galindro opened #42 "Error InvalidVolume.ZoneMismatch in scalingUP"
I've setup a statefull ami accordig to [this guide](https://docs.portworx.com/cloud/aws/asg.html#stateful-autoscaling). In my setup, I've chosen to not use a systemd service startup script, instead, I'm just using `--restart=unless-stopped` from docker run parameter.

I've created 3 vols in 3 different AZs: sa-east-1a, sa-east-b and sa-east-1c, each one with 30GB:

![image](https://user-images.git

[2017-07-18 00:49] jvinod commented on #42
Hi @galindro

If your goal is to have redundancy across AZs, you can achieve that by providing a single volume-id to PX instance and spinning up PX in different AZs. When you create volumes in PX with replication factor greater than 1, data will be autmatically be replicated across AZs.  If you do want 3 EBS volumes per instance, you can do that as well, just wanted to clarify that you don't _have

[2017-07-18 01:00] jvinod commented on #36
Hi @abienkowski - could you send us the output of docker logs <px_container> ? Also, could you let us know how PX was started?
To get out of this situation, you can try `/opt/pwx/bin/pxctl service maintenance --exit` -
Thanks

[2017-07-18 01:16] jvinod commented on #41
Hi @galindro this should work with PX Docker plugin as well.

[2017-07-18 01:51] venkatpx commented on #36
This was an issue with the absolute path of where the storage modules were to be loaded as the module dependencies weren't setup properly in the system and it was solved by loading them before hand

[2017-07-18 01:51] #36 closed

[2017-07-18 01:52] venkatpx commented on #40
t2.medium is a good starter instance.

[2017-07-18 01:52] #40 closed

[2017-07-18 06:04] jvinod commented on #29
@svensp sorry for the delay - If you are still experiencing this problem, I have a theory on what may be going on -
can you give us output of `/opt/pwx/bin/pxctl -j volume list` ?

[2017-07-18 06:06] venkatpx commented on #21
@asthomasdk Do you still have this output or the issue? Please let us know

[2017-07-18 06:07] venkatpx commented on #16
@galindro  @asthomasdk Is this still an issue for you or you were able to get past this?

[2017-07-18 07:44] svensp commented on #29
We're curently still experiencing this. Our installation is still running as the same version as before which is 1.2.2, I'll try updating to 1.2.8 and see if that helps.

The following is the output from 1.2.2, with `abz_abz-storage_dc932` currently in the `socket not connected` state inside a container.
[code]

[2017-07-18 10:39] galindro commented on #16
@venkatpx I'm not using Rancher anymore... I'm using docker swarm.

[2017-07-18 11:43] galindro commented on #42
Hi @jvinod . The problem still persists if I configure portworx with the correct volume. The issue is ocurring with portworx enterprise too. Here are some details of my environment:

1. I've 3 docker swarm manager nodes running on each AZ from sa-east-1 region. Each of them have portworx installed (as a docker plugin) and working very well.

2. Each AZ has an EBS volume with 30GB size that is used

[2017-07-18 12:33] galindro commented on #42
@jvinod, I've make it works now using px-enterprise as a container and with only one disk in the config. My last attempt using this aproach not worked because I've forgot to remove the portworx section with all of the 3 template disks from the instance userdata.

[2017-07-18 23:11] jvinod commented on #42
Great thanks. We'll fix this so that you don't need to do this  customization.

[2017-07-18 23:17] jvinod commented on #29
@svensp can you share your use case for abz_abz-storage_dc932 ? If you don't require this volume to be shared, then you can update the setting and the volume will survive restarts.
That said, you should get to the bottom of etcd flap..

[2017-07-20 16:07] ghost opened #43 "Volume will not unmount"
$ pxctl status
Status: PX is operational
License: Trial (expires in 22 days)
Node ID: 5de69d6c-1cff-4ae1-8b37-e7f4e89c7f71
        IP: 192.168.10.68
        Local Storage Pool: 1 pool
        POOL    IO_PRIORITY     RAID_LEVEL      USABLE  USED    STATUS  ZONE    REGION
        0       HIGH            raid0           100 GiB 2.9 GiB Online  default default
        Local Storage Devices: 1 device

[2017-07-20 16:57] talakad commented on #43
Seems like you are trying to delete shared volume. shared volumes can be mounted at multiple nodes. All of them must be unmounted  before the delete. Could you paste the out of following command?
"pxctl -j v i 1013395067276956434"

[2017-07-21 12:18] ghost opened #44 "Maven build fails to checkout to local repository on volume mounted with px driver"
using Jenkins master/slave docker containers and Rancher as the orchestration platform, I've setup jenkins-slave instance to mount a m2-repository volume created with pxctl command line tool.

When running a maven build, the process starts to checkout project dependencies to local ~/.m2 repository which is a volume manages by px.

The process creates required directories for first dependency and a

[2017-07-27 09:29] svensp commented on #29
Use case:
The volume shares user uploaded data for a php web application.
We have a total of 3 machines and the app is scheduled in Rancher to run on 2 of them at any given time. If an outage of 1 Server occurs the other active instance is still served while redundancy is restored by starting it on the third one.

Etcd stability has increased tremendously since we moved from the Catalog entry usin

[2017-07-27 13:43] svensp opened #45 "px-dev hangs hosts, prevents restarts"
Setup:
3 Hosts running Portworx.
docker version:  17.03.1-ce,  17.03.2-ce
Portworx Version: portworx/px-dev:1.2.8
Each has 1 Volume at on a volumegroup, which is raid1 on 2 ssd disks
A volume directly on a 3TB HDD was supposed to be added.

Process:
Following https://docs.portworx.com/maintain/scale-up.html:
sudo /opt/pwx/bin/pxctl service maintenance --enter
-- Wait until portworx is back up in m

[2017-07-28 09:11] svensp commented on #45
The restart block seems to be an issue with the rancher network driver that has been resolved in the internal docker network driver before, I'll move that problem there.

https://github.com/docker/libnetwork/issues/813
https://github.com/rancher/rancher/issues/7043

[2017-07-28 12:38] svensp commented on #45
Update:
The initial error seems to be btrfs related.
Kernel Version: `Debian Backport linux-image-4.9.0-0.bpo.2-amd64 / 4.9.18-1~bpo8+1`
Currently testing if swtiching to `linux-image-4.9.0-0.bpo.3-amd64 / 4.9.30-2+deb9u2~bpo8+1` helps

[code]

[2017-07-28 13:23] svensp commented on #45
The BTRFS kernel BUG still happens still happens with `linux-image-4.9.0-0.bpo.3-amd64 / 4.9.30-2+deb9u2~bpo8+1`, checking badblocks on the device to make sure there is not a hardware problem

[2017-07-28 17:46] abienkowski-ethoca commented on #43
$ pxctl -j v i 1013395067276956434
[{
 "id": "1013395067276956434",
 "readonly": false,
 "locator": {
  "name": "m2-repository"
 },
 "ctime": "2017-07-19T12:11:10Z",
 "spec": {
  "ephemeral": false,
  "size": "4294967296",
  "format": "ext4",
  "block_size": "32768",
  "ha_level": "2",
  "cos": "low",
  "io_profile": "sequential",
  "dedupe": false,
  "snapshot_interval": 0,
  "shared": true,
  "r

[2017-07-28 17:59] talakad commented on #43
Seems like volume is mounted on 2 nodes.
"attach_path": [
".138",
".68"
],

if you issue "mount | grep px", that will show the mount paths. these paths on respective nodes need to be unmounted using the following command
pxctl host unmount 1013395067276956434 <mount-path>

The above command must be executed on both .138 and .68 for the respective mount paths
Then you can detach and delete the volu

[2017-07-31 18:29] abienkowski-ethoca commented on #43
pxctl host unmounts <vol id> requires --path.  Using mount to show all mounted device on the host does not show the expected volume to be mounted on any path.  Using the device_path from the inspect command has no affect.  also looking in /dev/pxd/ does not show the specific volume id on either host.

[2017-07-31 22:42] bgrissin opened #46 "How does PX format and partition"
I am trying to use px-dev to pick up a device (/dev/ram0) for px-dev use, but the issue I keep running into is the following error when I start PX using a config.json

[code]

I am using ubuntu 16.04 and using the following modprobe command to create a ram block device.  I am doing this within virtbox on my local mac, so not lots of memory to allocate to the ram drive

#modprobe brd rd_size=16384

[2017-07-31 23:21] bgrissin commented on #46
more info

root@node2:~# modprobe brd rd_size=1024

root@node2:~# mkfs /dev/ram0
mke2fs 1.42.13 (17-May-2015)
Discarding device blocks: done
Creating filesystem with 1024 1k blocks and 128 inodes

Allocating group tables: done
Writing inode tables: done
Writing superblocks and filesystem accounting information: done

root@node2:~# mount /dev/ram0 /mnt/tmpfs
root@node2:~# cd /mnt/tmpfs
root@node2:/

[2017-08-04 02:51] venkatpx commented on #46
This is due to the disk being too small for px config

[2017-08-04 02:51] #46 closed

[2017-08-04 02:52] venkatpx commented on #44
@abienkowski-ethoca can you add px container logs so we can see any px errors. Also attach output of pxctl status

[2017-08-04 17:35] prabirpaul commented on #45
@svensp this is a kernel bug which was addressed through - https://patchwork.kernel.org/patch/9431679/. To get around this issue you would need to upgrade to kernel v4.10 or higher.

[2017-08-08 21:20] abienkowski opened #47 "Replacing a filed disk"
In my scenario, my virtualized local disk was removed from one of the nodes, and I replaced it with another volume.

px driver starts in maintenance mode, because it can not find the original /dev/sdd device with a specific uuid.  I've added a new device to replace it, and expected the process to start initializing the new device and replicating data from the second node.

I've also tried pxctl sv

[2017-08-09 16:43] karthik101 commented on #21
I get similar error, i'm using rancheros on my VM

8/9/2017 2:13:13 PMPXPROCS: Started px with pid 1691
8/9/2017 2:13:13 PMPXPROCS: Started watchdog with pid 1692
8/9/2017 2:13:13 PM2017-08-09_ 8:43:13: PX-Watchdog: Starting watcher
8/9/2017 2:13:13 PM2017-08-09_ 8:43:13: PX-Watchdog: Waiting for px process to start
8/9/2017 2:13:13 PMroot      1691  1648 21 08:43 ?        00:00:00 /usr/local/bin/

[2017-08-17 04:42] venkatpx commented on #21
@karthik101 Can you paste the out of /etc/pwx/config.json?

[2017-08-17 05:03] venkatpx commented on #44
@abienkowski-ethoca did you get a chance to get the above info?

[2017-08-17 05:03] #45 closed

[2017-08-17 05:07] venkatpx commented on #47
@abienkowski Have you tried the replace command?

https://docs.portworx.com/maintain/maintenance-mode.html#replace-a-drive-that-is-already-part-of-the-portworx-cluster

[2017-08-17 05:37] talakad commented on #43
That is correct. For shared volumes it is fuse mount and not the block device mount. Mount output will show pxfs mounts. That would be the path input for pxctl unmount command. For example of my system mount output is as below.
`mount | grep px`
`/dev/pxd/pxd393534584233243386 on /var/lib/osd/pxns/393534584233243386 type ext4 (rw,relatime,discard,data=ordered)`
`pxfs on /var/lib/osd/mounts/svol ty

[2017-08-17 06:15] asthomasdk commented on #16
I have not tried using px-dev for a while now - so I am not sure if we still have issues with this on our setup. We are still using Rancher and on 1.6.7 atm.

[2017-08-17 20:40] jrivera-px commented on #16
RancherOS headers are installed in /lib/modules(http://rancher.com/docs/os/configuration/kernel-modules-kernel-headers/).   So  ‘-v /lib/modules:lib/modules’ needs to be added to the run command.

[2017-09-06 12:11] Berndinox opened #49 "Can not install PX on CoreOs"
I've use the following doc:

https://docs.portworx.com/scheduler/docker/docker-plugin.html#upgrading-portworx-container-to-portworx-v2-docker-plugin

Problem is the: `- mount: [/usr/src]`

Within CoreOs that volume is read-only, so not usable.

I've found the follwing line inside the px-mon repo:
https://github.com/portworx/px-installer/blob/c3c0acb5c23584207d493f91b27d5cb57ffa99da/px-mon/px-mon.g

[2017-09-07 06:55] Berndinox opened #50 "CoreOS + Swarm - Volume Plugin not added autm."
I followed the Instruction to install Portworx on Coreos.
https://docs.portworx.com/install/coreos.html

`docker info`
does not shows the pxd Driver!

After doing something like
docker run -it -v my_pxd_vol:/test busybox echo foo
`docker info` now shows the pxd volume and i can start using it with swarm.

That occours after every reboot.. very anoying!

[2017-09-11 05:29] homeles commented on #16
I'm having the same issue and looks to be related to the proxy. try running the px-dev container with -e http_proxy, and that will solve the problem.

[2017-09-11 22:28] svensp commented on #47
+1
The drive replace command seems to expect to transfer the data from an existing drive to a new one.
For me the old drive died and was replaced by the hoster in a single step so a transfer was not possible.
`sudo /opt/pwx/bin/pxctl sv drive replace --source /dev/sdc --target /dev/sdc -o start` fails because the old drive with the data is not there.

[2017-09-12 17:49] prabirpaul commented on #47
@abienkowski @svensp drive replace helps in the case of failing drives, it doesn't work for completely failed/lost drives. Unfortunately in raid0 configuration it is not possible to recover a completely failed/lost drive. Recovery in this case is to remove this node from the cluster, HA reduce all affected volumes, reinit this node and add back to the cluster and HA add again. Keep in mind this wo

[2017-09-13 12:43] rajivece opened #51 "Start/Stop systemd scripts for portworx standalone setup"
I have successfully set up px-enterprise using below link

Now I looking for systemd start/stop script for this setup.  Does anyone try the similar option given in below link?

[2017-10-15 01:29] venkatpx commented on #49
@adityadani can you look at this?

[2017-10-15 02:01] venkatpx commented on #51
@rajivece Pls try this https://github.com/portworx/terraporx/tree/master/automation/ansible for setting up px as a systemd service

[2017-10-15 02:01] #51 closed

[2017-10-15 02:15] venkatpx commented on #47
We will  also update our documentation to show how to perform this with pxctl

[2017-10-15 02:15] #47 closed

[2017-10-15 02:27] venkatpx commented on #44
Closing this issue as we didn't get any further information on it. Pls reopen it once you get more info

[2017-10-15 02:27] #44 closed

[2017-10-15 02:28] #16 closed

[2017-10-15 02:29] venkatpx commented on #21
@karthik101 are you still blocked by this?

[2017-10-15 02:30] venkatpx commented on #29
@svensp we suggest running etcd outside of the rancher nodes and as a systemd service for better stability. Pls let us know if you have any further thoughts/findings on this. Have you been able to move further with your px testing?

[2017-10-15 02:32] jvinod commented on #42
This is fixed in 1.2.10

[2017-10-15 02:32] #42 closed

[2017-10-15 02:33] #43 closed

[2017-10-15 02:34] venkatpx commented on #49
@senpx can you please try this and follow up on this?

[2017-10-15 02:34] venkatpx commented on #50
@senpx can you please follow up on this?

[2017-10-15 09:00] Berndinox commented on #50
Seems like the issues also exists with some other volume plugins, may a docker bug?

[2017-10-15 15:02] senpx commented on #50
can you please reply the outcome for below commands? and also coreos cluster details.
1. docker info
2. /opt/pwx/bin/pxctl -v
3. /opt/pwx/bin/pxctl status

[2017-10-16 08:23] karthik101 commented on #21
@venkatpx Sorry, I left the portworx as it is after that, will let you know if i start working on it again. Is portworx supported out the box in rancher with kubernetes.

[2017-11-11 19:00] nupplaphil opened #52 "linux-headers "no such file or directory""
**Environment**
- Debian stretch (4.9.0-4-amd64)
- Docker CE (17.09.0\~ce-0\~debian)

***Docker Info***

[code]

I installed the portworx plugin, following the steps at https://docs.portworx.com/scheduler/docker/docker-plugin.html and I tried to use the docker-compose.yml from https://github.com/portworx/px-dev/blob/master/quick-start/docker-compose.yml

Both versions are throwing this execptions:

[2017-11-13 19:23] venkatpx commented on #52
@jrivera-px can you please look in to this?

[2017-11-13 21:53] #29 closed

[2017-11-13 21:54] venkatpx commented on #21
Yes. Portworx is supported out of the box with Kubernetes and should work rancher as Portworx has native volume driver in Kubernetes

[2017-11-13 21:54] #21 closed

[2017-11-24 12:33] nupplaphil commented on #52
Is this a temporary problem with 4.9.0-4? Is it possible to return to a previous kernel and it would work?

I'm sorry to push this issue, but I tried a lot of other decentralized, statefull, storage solutions, but I think portworx would definitely fit best for my challenge (two servers with HW RAID per openvpn connection, docker environment, async-replication of data).

[2017-11-24 19:03] jrivera-px commented on #52
Sorry for the delay in the response.   The problem with the debian linux header installation is that the header scripts are not contained with this container mounted /usr/src like most other kernels.    The solution to this for debian is to volume mount /usr to /hostusr (-v /usr:/hostusr) inside the container and proper files should be found.   If your using the "yaml" file should be able to add "

[2017-11-25 06:53] nupplaphil commented on #52
It worked 👍
Thank you!!

I think you should add this hint for debian to the Installation Docs of px-dev.

[2017-11-30 00:06] #52 closed

[2017-11-30 00:50] venkatpx commented on #50
Portworx now supports running PX as OCI container and not as plugin. Suggest trying installing PX this way. https://docs.portworx.com/runc/

[2017-11-30 00:50] #50 closed

[2017-12-07 09:03] soakes opened #53 "RAID question"
Quick question as the documentation doesn't seem to shed any light on this.  I am a little worried that it says raid0.  The data is replicated to two nodes when the shared volume was created so surely this should say RAID1?

I just want to make sure that my data is safe.  Is there any way to change this to RAID1?

[code]

[2017-12-07 21:19] prabirpaul commented on #53
The raid level controls how the data is laid out locally on this node. This is a per node option and is set during node initialization through the config.json.

The HA (or replication) level controls how data is laid out globally within the cluster. This is a per volume option. This is set during volume create and can be changed later.

Are you looking to change the device raid level or the HA lev

[2017-12-07 21:27] soakes commented on #53
Hi @prabirpaul thank you for explaining that.

I am trying to build a shared docker storage solution using two storage nodes plus one storage-less node for the quorum.  However, it seems that when I drop one of the storage nodes, the whole cluster fails with:

[code]

I would of expected that quorum should of still been possible due to the storage-less node but alaias it isn't and so all nodes the

[2017-12-07 22:06] prabirpaul commented on #53
Because the storage-less nodes do not participate in quorum decisions, if you take down a storage node the cluster is out of quorum. You should be able to take own the storage-less node though. You would need a cluster size of 3 nodes to be able to do what you mentioned above.

Create volumes with HA level==2, which could create 1 extra copy for each volume distributed equally among all 3 nodes.

[2017-12-07 22:33] soakes commented on #53
Thank you kindly.  This does explain everything.

[2017-12-07 22:33] #53 closed

[2017-12-07 22:48] soakes commented on #53
@prabirpaul  One last quick question if I may, the 1TB limit, as I want to mirror the data for HA reasons, would that mean I am limited to about 333GB? or can I still have 1TB on each node and just leave it set to HA level==2? and the whole 1TB would be usable?

[2017-12-07 23:51] prabirpaul commented on #53
Sure. The size of the replicas does not count towards the volume size limit. You should be able to create volumes of 1T with HA factor of 1, 2 or 3.

[2017-12-08 08:14] soakes commented on #53
Thank you @prabirpaul, this is great news.

[2017-12-21 19:00] segator opened #54 "Can't initialize pwx-dev with ETCD SSL"
`{
    "alertingurl": "",
    "cafile": "/etc/pwx/server.ca.crt",
    "certfile": "/etc/pwx/client.crt",
    "certkey": "/etc/pwx/client.key.insecure",
    "clusterid": "mycluster",
    "dataiface": "flannel.1",
    "kvdb": [
        "etcd://my.etcd:2379"
    ],
    "mgtiface": "flannel.1",
    "scheduler": "none",
    "storage": {
        "devices": [
            "/dev/mylvm/portworx"
        ]

[2017-12-21 19:06] adityadani commented on #54
@segator The kvdb url in you config.json should be of the following format
[code]
By default PX would use http.

[2017-12-21 21:41] segator commented on #54
Hi, I tried before but I got this message
Error in obtaining etcd version: Get http:https//my.etcd:2379/version: http: no Host in request URL.

[2017-12-21 21:50] pault84 commented on #54
can you share what is in your config.json?
is it http://https
or etcd://https?

[2017-12-21 22:00] segator commented on #54
Ok thank you.. missing dots.

One question I see that is enabled by default the enterprise version with 30 days trial, after  30 days automatically will be free version? I don't see any point on the documentation to install the px-dev version as a docker plugin

[2017-12-23 18:37] senpx commented on #49
@Berndinox were able to fix the issue? Please follow below steps before you install px on ocreos.

Before installing the plugin, please:

Create the following directories on the host system:

$ sudo mkdir -p /etc/pwx /opt/pwx/bin /var/lib/osd /var/cores
these directories are no longer created automatically via v2 Docker plugin, but will be required so that PX-plugin can export pxctl CLI onto the h

[2017-12-23 18:43] senpx commented on #54
@segator can you paste your config.json? and also which command used to run px?

[2017-12-23 19:24] Berndinox commented on #49
Nope, sry!

[2017-12-23 19:35] senpx commented on #49
You can ping us on our slack channel to get immediate help. Please let us know if you need any further assistance.

[2017-12-24 13:48] segator commented on #54
Hi, finally installed portworx as runC. works fine but no key/value saved on ETCD.

`{
    "alertingurl": "",
    "cafile": "/etc/pwx/server.ca.crt",
    "certfile": "/etc/pwx/client.crt",
    "certkey": "/etc/pwx/client.key.insecure",
    "clusterid": "portworx",
    "dataiface": "flannel.1",
    "kvdb": [
        "etcd:https://etcd.service.com:2379"
    ],
    "mgtiface": "eth4",
    "scheduler"

[2018-01-01 18:56] segator opened #55 "attach non-formated volume"
`pxctl v c test -r 3 --fs none
docker run --volume-driver pxd -it --rm  -v test:/dev/blockdevice ubuntu`

error
` Error response from daemon: error while mounting volume '/': Volume (Name: test Id: 99558319756929467 Path: /var/lib/osd/mounts/test) mount failed.  Volume does not have a filesystem. `

How I can use a block device directly from portworx inside a docker? If I attach manually before ru

[2018-01-07 03:15] jvinod commented on #55
@segator that's the current workaround. I have opened an internal bug to address the workflow via docker and will follow up here.
If you don't mind sharing, what is your use case - what do you plan to run on top of the block device?

[2018-01-07 11:45] segator commented on #55
I experimenting in run VM's inside docker with KVM so I can attach block device directly to KVM, increasing performance.

[2018-01-07 12:02] segator opened #56 "Multiple errors on dmesg and inestability"
System
Ubuntu 16.04
Docker standalone 17.06
3 nodes(Vmware ESXI VM's running portworx)
all the 3 nodes exactly same OS/config

portworx version pxctl version 1.2.11.10-421c67f (OCI)

I got multiple errors on dmesg, one node systemctl portworx goes down(need to reboot to get it working again) and other simply the volume get stucked some seconds so the container mounting the volume get freezed.

I d

[2018-01-10 08:15] jvinod commented on #56
@segator the errors are because PX is down. Was it brought down manually? If not, could you please attach the logs - output of `journalctl -lu portworx` - thanks

[2018-01-10 08:19] jvinod commented on #56
Also let us know the memory config on the VM `cat /proc/meminfo`

[2018-01-10 19:04] segator commented on #56
Hi, The PX goes down randomly when running prometheus on a px volume.
next time I got the error I report to you on this issue.
`
cat /proc/meminfo
MemTotal:       16424192 kB
MemFree:          228364 kB
MemAvailable:   11651156 kB
Buffers:            4680 kB
Cached:         11514760 kB
SwapCached:            0 kB
Active:          6187200 kB
Inactive:        7988372 kB
Active(anon):    2956960 kB
I

[2018-01-12 05:53] jvinod commented on #56
Hi @segator this means that we are losing connectivity with the peers. If you have the output of `journalctl -lu portworx` please include it here. Even the old one should include logs for the problem.

[2018-01-12 20:59] segator commented on #56
2 things.
I fixed the timeout problem, it seems is because one of the switch have too much open connections.
Journal file is too long
`
ene 10 20:22:23 segator px-runc[2657]: time="2018-01-10 19:22:23" level=info msg="response /var/lib/osd/mounts/prometheus-data" Driver=pxd ID=prometheus-data Request=mount
ene 10 20:22:23 segator px-runc[2657]: time="2018-01-10 19:22:23" level=info msg="unfreeze /

[2018-01-12 21:01] segator opened #57 "non sense space usage"
I have a cluster with 3 nodes,
all the volumes have replica 3
but if I check the used disk size for every host, it doesn't appear exactly the same size usage, should be if I understand correctly how works portworx

`Cluster Summary
        Cluster ID: portworx
        Cluster UUID: ----
        Nodes: 3 node(s) with storage (3 online)
        IP              ID

[2018-01-12 22:50] jvinod commented on #56
@segator if you had network connections that wasn't resolved in a period of 10 minutes (which is a conifgurable threshold) then the errors are expected.

[2018-01-12 22:50] #56 closed

[2018-01-14 05:26] jvinod commented on #57
if you have just 3 nodes and all the volumes are repl 3 then you should be consuming the same space in all nodes. The reported usage is the space allocated which can vary if you had a down node at anytime because that may change the write pattern and it should converge over time.  Can you post the output `/opt/pxctl -j volume list`

[2018-01-14 17:45] segator commented on #57
`[{
 "id": "1015952309233458326",
 "readonly": false,
 "locator": {
  "name": "jenkins",
  "volume_labels": {
   "snapshot": "true"
  }
 },
 "ctime": "2017-12-31T12:07:28Z",
 "spec": {
  "ephemeral": false,
  "size": "53687091200",
  "format": "ext4",
  "block_size": "32768",
  "ha_level": "3",
  "cos": "low",
  "io_profile": "sequential",
  "dedupe": false,
  "snapshot_interval": 0,
  "shared": f

[2018-01-15 20:55] jvinod commented on #57
One of the volume is repl 2 - but that doesn't explain it either. Could you join our slack channel slack.portworx.com - we can get this resolved with more direct communication

[2018-01-16 00:06] segator commented on #57
hey, yes Sorry this was a test vol, but its empty. Anyway now after some days I checked again pxctl status and now mark 70 70 71G, so only 1G of difference, it seems like a internal process or something that "purge" unreferenced blocks or something

[2018-01-17 00:49] jvinod commented on #57
Sounds good, closing as this seems resolved.

[2018-01-17 00:49] #57 closed

[2018-01-19 11:29] #54 closed

[2018-02-19 09:32] jmahhh opened #58 "Setup: can't get k/v to work properly"
Hi, sorry, kind of new to this:

I want to test encrypted volumes but can't get the k/v store to work properly. I have `etcd` running:
[code]

and I'm using the docker image from https://docs.portworx.com/developer/index.html for simplicity, although I've also tried the setup without docker. My portworx flags in the docker command look like
[code]

The docs say I should make sure that `clusterid`

[2018-02-19 10:19] jmahhh commented on #58
I've tried the docker image with `vault server -dev` and a config specifying `secret` as well, to no avail. After creating the cluster wide secret key the error upon creating an encrypted volume says:
[code]
Which means I probably should have set a key and a value using `vault` but what should they be? How is the "Secret Id" specified?

[2018-02-20 03:58] jmahhh commented on #58
Got help through slack. See https://asciinema.org/a/105105.
On `secrets set-cluster-key`:
`VAULT_TOKEN` should be `portworx-user`.
`Vault base path for r/w` is `secret`.
Cluster wide secret key should be `portworx-key`.

[2018-02-20 03:58] #58 closed

[2018-03-04 05:47] infordb opened #59 "pvc pending"
Hi
I am testing portworx on GKE
I following your example of cassandra (https://docs.portworx.com/scheduler/kubernetes/cassandra-k8s.html)

The first pod(cassandra-0) is assigned a volume well, but second pod(cassandra-1) is not
pvc is still pending
What should I check more ?

mymacui-MacBook-Pro:portworx mymac$ kubectl get pvc
NAME                         STATUS    VOLUME

[2018-03-06 06:38] infordb commented on #59
If I remove the fg: "true" option, it will work well.
what is this option ? Is this option essential?

kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: px-storageclass
provisioner: kubernetes.io/portworx-volume
parameters:
  repl: "2"
  priority_io: "high"
  group: "cassandra_vg"
  **_fg: "true"_**

[2018-03-06 17:20] sangleganesh commented on #59
When you specify "group" option, it means try to allocate nodes for the volume data where no other volumes exist created with the same "group" option. If it cannot find enough nodes, it retries without group option.
The "fg" option is enforce group - i.e. fail volume create if not enough nodes exist where no volumes with given group exist.

[2018-03-17 20:06] SamirKali commented on #52
@nupplaphil @jrivera-px Please i tried your line command like this  "mount -v /usr:/hostusr" but it does not work, it gives me error : mount: /usr:/hostusr: can't find in /etc/fstab.
how can i fix that Please?
Thank you!

[2018-03-28 19:51] jrivera-px commented on #52
@SamirKali  The '-v /usr:/hostusr' is not a host mount.   It is a "container" volume mount.  It should be added to the startup of the container .

[2018-05-17 09:30] AlvinLv00 opened #60 "Failed with error: Scan found old metadata drives"
Reinitialize the node and the following error occurs：

time="2018-05-17T09:18:16Z" level=error msg="hal.Reinit() Failed with error: **Scan found old metadata drives"**
time="2018-05-17T09:18:16Z" level=info Error=<nil> Function=nodeMap.Add MID=79de5140-abec-4b60-9af3-bb4554f25bf8 NID=15 Status=InitializationError Version=
time="2018-05-17T09:18:16Z" level=warning msg="**Failed to initialize Init P

[2018-05-18 01:56] adityadani commented on #60
@lxtxlxl To reinitialize a PX node, you need to wipe the node of old PX fingerprint data. You can do that by running the following command on that node

[code]

Note that above command is going to wipe all the data from the storage devices that were provided to PX.

[2018-05-23 02:48] AlvinLv00 opened #61 "Cluster offline node can‘t be deleted"
The cluster node is offline. Delete the following error：

#pxctl c p
NODE                                    NODE STATUS     POOL    POOL STATUS     IO_PRIORITY     SIZE    AVAILABLE       USED    PROVISIONED     RESERVEFACTOR       ZONE    REGION  RACK
_**5769741b-0e67-4abc-a8f2-123422ad078f    Offline         0       Offline         HIGH            1.6 TiB 1.6 TiB         62 GiB  50 GiB

[2018-05-23 02:57] #60 closed

[2018-05-28 03:29] the-nicolas opened #62 "Support for Rancher 2.0 and RancherOS 1.3"
Are there any plans to support the new version of Rancher/OS?

[2018-06-06 08:05] matrixyisi opened #63 "Snapshot policy is not triggered"
I set the policy according to the official example, but the policy has not been triggered and the snapshot has not been generated
------------------------------------
root@ubuntu:~#pxctl v i myvol
Volume	:  657546747400649879
	Name            	 :  myvol
	Size            	 :  1.0 GiB
	Format          	 :  ext4
	HA              	 :  1
	IO Priority     	 :  LOW
	Creation time   	 :  Jun 6 07:04:13 UT

[2018-06-06 13:46] sangleganesh commented on #63
To view schedule snapshots, the filters are "pxctl v l -s". Can you check the output of that command ? Thanks.

[2018-06-12 07:19] #63 closed

[2018-06-24 22:43] giovannicandido opened #64 "800MB container"
The container is very huge.
Should consider using alpine as base, and removing anything unnecessary.

[2018-06-24 22:53] venkatpx commented on #59
@infordb were you able to proceed with the above?

[2018-06-24 22:54] #49 closed

[2018-06-24 22:56] venkatpx commented on #61
@AlvinLv00 if you can collect the journal logs for portworx, we can see what is going on. It is likely these nodes have replicas for other volumes in them.

Can you also attach pxctl status

[2018-06-24 22:56] venkatpx commented on #62
@the-nicolas we do support both versions of rancher

[2018-06-24 22:56] #62 closed

[2018-06-29 20:45] dweomer opened #65 "unable to restart px-dev after initial boot"
I have px-dev 1.4.0-rc3 running as a system-docker container on RancherOS v1.4 (kernel 4.14.32) that only starts up successfully the first time. Subsequent restarts of the container fail and fail. I encountered this while attempting to validate that "I can reboot a node and it will reconnect to the cluster seamlessly". To be clear, I see this by simply invoking `system-docker restart portworx` aft

[2018-06-29 21:28] dweomer commented on #65
`#cloud-config` snippet:

[code]

[2018-06-29 23:16] dweomer commented on #65
Hi @senpx,

1. Please see the [`cloud-config`](https://rancher.com/docs/os/v1.x/en/installation/system-services/custom-system-services/) snippet above (essentially a docker-compose file) that binds to the host's network stack for the `portworx` container.
2. I am running **RancherOS** and not the Rancher server/agent.

In regards to:

Do I understand correctly that you are moving away from the `px

[2018-06-29 23:37] dweomer commented on #65
Same problem with `px-enterprise`

[2018-06-29 23:46] senpx commented on #65
@dweomer, Thank you for the response.

As I mentioned before, Did you enable and validate the ports (9001-9016 and 8500 ) on all the nodes?  And also please provide the consul IP address instead of localhost in the config file.
Since you are not using rancher server/agent, You can use the px-dev build.

We need to validate the px-dev build for rancher OCI catalog. That's why it's not supported at

[2018-07-04 22:24] thbeh opened #66 "px-lighthouse 1.4.0 does not verified px cluster"
Hi, I have an existing px-dev 1.4.0 cluster on Dockers which run fine with lighthouse 1.4.0-rc2 but could not verify my cluster when I use lighthouse 1.4.0. Any advice?

[2018-07-05 15:36] venkatpx commented on #66
@thbeh can you do a pxctl --version on your PX cluster and post it here?

[2018-07-07 01:28] thbeh commented on #66
pxctl version 1.4.0.0-0753ff9

[2018-07-10 03:06] #61 closed

[2018-07-14 21:55] thbeh opened #67 "kubernetes"
Is px-dev available for kubernetes? I don't seems to be able to find documentation using px-dev on kubernetes.

[2018-10-08 17:14] shai2017 opened #69 "unable to install portworx due to error"
When installing portworx for the first time after installing etcd operator and cluster in GKE. When I am installing portworx I am seeing below error.

Error: failed to start container "portworx": Error response from daemon: error while creating mount source path '/opt/pwx': mkdir /opt/pwx: read-only file system
Back-off restarting failed container

[2018-10-14 08:19] shai2017 commented on #69
This issue was there as image was not in ubuntu. Video to install portworx in GKE,  did not mention anything that ubuntu image and if it mandatory to build GKE node.

[2018-10-14 08:19] #69 closed

[2018-11-14 17:33] Jeffry-ye opened #70 "Failed to initialize node in cluster and devices path is"
portworx/px-enterprise version:      1.6.1.3

1.add one node(10.26.15.103) to cluster  Failed to initialize.
2.devices:/dev/sdb1 of node(10.26.85.149) is 800GB,  but pxctl status detail Capacity(10.26.85.149) 2.2 TiB

/opt/pwx/bin/px-runc run -c MY_CLUSTER_ID \
    -k etcd://10.26.15.103:2379 \
    -s /dev/sdb1

time="2018-11-14T16:23:34Z" level=info msg="Global license watcher installed."
time="2

[2018-11-15 07:49] #70 closed

[2018-11-15 08:40] Jeffry-ye commented on #70
Thinks @adityadani

[2018-11-15 08:42] Jeffry-ye commented on #70
ThinksTo reinitialize a PX node, you need to wipe the node of old PX fingerprint data. You can do that by running the following command on that node

$ /opt/pwx/bin/pxctl service node-wipe

[2019-02-15 08:13] manveloff opened #71 "Losing access to nodes with installed portworx"
Hi. Tryed different clouds (digital ocean, yandex). Servers with ubuntu 18.04. Installed docker, made swarm, installed etcd cluster, portworx. And reboot all servers. After that I couldn't connect to them using SSH - connection refused. Servers are dead and lost. Why this happening to me?

[2019-04-11 23:04] PoweredByPeople opened #72 "ERROR: manifest for portworx/px-dev:latest not found"
When installing for the first time following the quickstart guide I get the following:

[code]

[2019-04-13 19:32] mh720 commented on #72
Try with portworx/px-dev:2.0.3.3 while latest tag is missing.

[2019-04-23 17:09] vitaly-zverev opened #73 "Breach of DevOps data in single node configuration with px-dev"
Hi all,
just after rebooting of devops node (srv-wh) we are stuck with amazing pxctl status:

[root@srv-wh ~]# /opt/pwx/bin/pxctl status
Status: PX storage down
License: PX-Developer
Node ID: 5923cb4f-7878-4de1-962e-728b1f3f371e
        IP: 172.16.0.141
        Local Storage Pool: 1 pool
        POOL    IO_PRIORITY     RAID_LEVEL      USABLE  USED    STATUS  ZONE    REGION
        0       HIGH

[2019-04-23 17:20] vitaly-zverev commented on #73
+
[root@srv-wh ~]# /opt/pwx/bin/pxctl service drive replace --source /dev/mapper/ol_c0242-multivers --target /dev/vdb1  --operation start
Replace drive start failed. drive size 2199022206464 too big, pool size 1610612736000
[root@srv-wh ~]#
no luck...

[2019-04-23 17:44] vitaly-zverev commented on #73
[root@srv-wh ~]# /opt/pwx/bin/pxctl service drive rebalance --poolID 0 --operation status
Done: Pool 0: Storage rebalance is running. 102 out of about 1402 chunks balanced (103 considered),  93% left
[root@srv-wh ~]#

[root@srv-wh ~]# /opt/pwx/bin/pxctl service drive show
PX drive configuration:
Pool ID: 0
        IO Priority:  HIGH
        Labels:
        Size: 1.5 TiB
        Status: Offline

[2019-04-24 08:25] vitaly-zverev commented on #73
As discussed in the other threads, the way to increase the size of a pool is to add new drives of _similar size_.

[2019-04-24 09:27] vitaly-zverev commented on #73
[root@srv-wh ~]# lsblk --bytes
NAME                   MAJ:MIN RM          SIZE RO TYPE MOUNTPOINT
vdb                    250:16   0 2199023255552  0 disk
└─pwx1-multivers01     252:5    0 1730670493696  0 lvm
sr0                     11:0    1    4172283904  0 rom
sda                      8:0    0 2147483648000  0 disk
├─sda2                   8:2    0 2146958311424  0 part
│ ├─ol_c0242-swap      2

[2019-04-24 20:29] vitaly-zverev commented on #73
Bingo!
[root@srv-wh ~]# dd if=/dev/mapper/ol_c0242-multivers bs=512 skip=128 count=1 | od -a
0000000   ;  fs   x   O nul nul nul nul nul nul nul nul nul nul nul nul
0000020 nul nul nul nul nul nul nul nul nul nul nul nul nul nul nul nul
0000040 syn   M   r  bs   "   P   I   <   9  si   K dc3 etb nak   ]   |
0000060 nul nul soh nul nul nul nul nul soh nul nul nul nul nul nul nul
0000100   _   B   H

[2019-04-25 08:36] #73 closed, assigned to nobody

[2019-06-26 04:49] happyalexkg opened #74 "PortWorx Rancher issue"
Hello
I have issue PortWorx on my Rancher install (3 nodes)

So, I'n entered into Catalog -> and select PortWorx
After that : filled next fields:
Cluster ID: pw123
Install scale: global
key-Value DB:
etcd://10.42.244.214:2379
Use Disk: -s /dev/sdb

![1](https://user-images.githubusercontent.com/3541266/60151704-8f692c80-97ff-11e9-880c-6e2149d01394.PNG)

Then clicked: Launch
Waite couple mins and t

[2019-08-02 16:13] vitobotta commented on #67
I am looking for the same 😔

[2019-08-20 19:27] rlewkowicz opened #75 "Drive add start failed. Failed to get spec. Make sure PX is up and running (pxctl status)."
Command
[code]

I have 3 nodes spun up as part of an auto scaling group.
[code]
The disk is the root volume

[code]

Interestingly enough spinning up a standard instance using aws_instance in terraform worked just fine.

[2019-08-21 22:13] kmunson1973 commented on #75
You will need to have disks available when installing Portworx on the initial 3 nodes.  Once that is completed you can then add drives individually.   At this point, the easiest thing will be to uninstall and reinstall Potworx. You can follow the doc here https://docs.portworx.com/portworx-install-with-kubernetes/operate-and-maintain-on-kubernetes/uninstall/uninstall/.  Portworx also supports a fe

[2019-10-08 18:43] marco-m opened #76 "Is this project alive?"
Hello, last code commit to this repo is more than one year ago, Aug 2018.

Could portworx tell the open source community what is the future of px-dev? Is the only option now the Enterprise version?

Thanks!

[2019-10-08 20:49] mh720 commented on #76
Not sure what this project represents, I see a Dockerfile building from portworx/px-base. The official px-dev container image is maintained by Portworx and receives updates at https://hub.docker.com/r/portworx/px-dev

Also, check out https://github.com/swarmstack/swarmstack - which points at that image by default.

[2019-10-08 21:25] marco-m commented on #76
@mh720 thanks!

[2019-12-20 20:27] #75 closed, assigned to nobody

[2021-06-21 18:56] korenlev opened #77 "Building the PX-FUSE package on Ubuntu - failed on 5.4.0-1049-aws"
**BUG REPORT**:

**depmod: ERROR: Module 'px' has devname (pxd-control) but lacks major and minor information. Ignoring**:

**success depmod at the ned**:

**Follow https://github.com/portworx/px-fuse on AWS ubuntu instance**:

- Kernel (e.g. `uname -a`): 5.4.0-1049-aws #51~18.04.1-Ubuntu SMP Fri May 14 18:38:46 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-06-21 18:58] korenlev commented on #77
closing , should be on px-fuse i guess

[2021-06-21 18:58] #77 closed, assigned to nobody

[2022-06-04 06:10] #65 closed

[2022-08-30 10:12] sinh-tran-ts opened #78 "Storage down or offline (Pool used 90% capacity)"
Hi everyone,
I am using portworx version 2.8.1.3. I had a problem when the pool used 90% of the capacity. The pool was then offline.
Please help me find the root cause.

Thanks,
<img width="1258" alt="Screen Shot 2022-08-27 at 08 48 14" src="https://user-images.githubusercontent.com/104056516/187410898-5b2e8b6f-675e-4f17-bc32-5004444f598f.png">